body {
    padding-top: 50px;
}

#myCarousel {
    margin-top: 50px;
    margin-bottom: 30px;
}

#myCarousel .carousel-caption {
    left:315px;
	right:15px;
	top:40px;
	bottom:40px;
	padding:10px;
	text-shadow:none;
}

#myCarousel .carousel-caption h4 {
    color: #023660;
    text-align: left;
}

#myCarousel .carousel-caption p {
    color: black;
    text-align: justify;
}

#myCarousel .list-group {
	position:absolute;
	top:40px;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0;
	cursor:pointer;
    border: none;
}
#myCarousel .list-group .active {
	background-color:#eee;
    color: #023660;
    border-left: 6px solid #023660;
}

#myCarousel .list-group img{
	height: 50px;
    width: auto;
}

#myCarousel img {
    width: 300px;
    height: auto;
    overflow: hidden;
}

.carousel-control-prev > i, .carousel-control-next > i {
    font-size: 30px;
    color: black;
}

@media (min-width: 992px) {
	#myCarousel {padding-right:33.3333%;}
}
@media (max-width: 767px) {
    #myCarousel img {
        display: block;
        margin: auto;
        max-width: 270px;
        height: auto;
    }

    #myCarousel iframe {
        max-width: 300px;
        height: 551px;
    }

    #myCarousel .carousel-caption {
        left: 0;
        right: 0;
        bottom: 0;
        top: auto;
        background-color: #023660;
        border-top: 6px solid white;
        border-radius: 2px;
    }

    #myCarousel .carousel-caption > p {
        color: white;
    }

    #myCarousel .carousel-caption .ES {
        display: none;
    }

    #myCarousel .carousel-caption > h4 {
        color: white;
    }
}
.appheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    margin-bottom: 30px;
    z-index: 300;
    background-color: white;
    padding: 15px 40px;
    border-bottom: 1px solid #023660;
}
.appicon {
    margin-right: 20px;
    width: 40px;
}

.appname {
    display: inline;
    vertical-align: middle;
}

.appheader .appdownload > a {
    position: fixed;
    top: 15px;
    right: 40px;
}

@media (max-width: 767px) {
    .appname {
        font-size: 1.5em;
    }

    .appheader .appdownload > a {
        position: fixed;
        top: 23px;
        right: 0;
        height: 2em !important;
    }
}


.card {
    border: none;
    border-radius: 0;
    border-left: 6px solid #023660;
    padding-left: 15px;
}

.card-title {
    color: #023660 !important;
}
